body{
    background: rgba(0,0,0,.1);
    height: 100vh;
    
    
}
.wrapper {
    display: flex;
  }

.side_bar_filters { 
    width: 20vw; /* Defina a largura desejada para a barra lateral de filtros */
   
    position: absolute;
    left: 2px;
    top: 0;
    overflow-y: auto; /* Adicione rolagem vertical quando necessário */
    max-height: 100vh; /* Limita a altura máxima para ocupar a altura total da janela */
}

.contents_ad {
margin-left: 24vw; /* Deixe um espaço à esquerda para a barra lateral de filtros */
}

* {
box-sizing: border-box;
}

/* Style the search field */
form.search_bar_box input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #f1f1f1;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    cursor: pointer
}

/* Style the submit button */
form.search_bar_box button {
    float: left;
    width: 8%;
    padding: 10px;
    background: #ff9900;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

form.search_bar_box button:hover {
    background: #ffad33;
}

/* Clear floats */
form.search_bar_box::after {
    content: "";
    clear: both;
    display: table;
}

.side_bar_filters span {
    font-size: 14px;
    margin-left: 6px
    background: red;
}

.side_bar_filters h2 {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 10px;
    margin-left: 10px;
}

.catalog {
  margin-left: 24vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  max-width: 568px;
  max-height: 568px;
}

@media(max-width: 1100px){
.catalog {
    margin-left: 24vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
    max-width: 568px;
    max-height: 568px;
    
}       
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    padding: 5px;
    width: 300px;
    height: 470px;
    border-radius: 10px;
}
.product:hover{   
    background: white;
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

.image {
    display: grid;
    gap: 5px;
    border-bottom: 2px solid #ddd;
    background: white;
    
}

.image img {
    width: 100%;
    height: 230px;
    border-radius: 1px;
    

}

.details {
    padding-top: 10px;
    text-align: center;

}

.price {
  font-size: 18px;
  font-weight: bold;
}

.details h2 {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.35;
}

.original_price {
  color: #999;
  font-size: 12px;
  text-decoration: line-through;
}

.free_shipping {
  color: #00a650;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.35;
}

.seller_name {
  color: #666;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
}

.condition {
  margin-top: 10px;
  margin-right: 10px;
}

.catalog label {
    display:block;
    max-width: 568px;
    max-height: 568px;
    -webkit-font-smoothing: antialiased; 
    margin-top:10px;
    font-family:Arial,Helvetica,sans-serif;
    color:gray;
    text-align:center;
    border-radius: 10px;
}


input[type=checkbox] {
    display: none;
}

input[type=radio] {
    
}


input:checked + label {
    border: solid 1px #09f17a;
    color: #1da35e;
}

input:checked + label:before {
    content: "\2713 ";
}


/* new stuff */
.check {
    visibility: hidden;
}

input:checked + label .check {
    visibility: visible;
}

input.checkbox:checked + label:before {
    content: "";
}

