

.align {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #2c3338;

}

/* Estilos gerais */
body {
  background-color: #2c3338;
  color: #0080ff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

/* Estilos ancora tela incial */
a {
color: #eee;
outline: 0;
text-decoration: none;
}


a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
  }

nav {
    background-color: #2c3338;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: white;  
  }


  
  /* Container do formulário */
  .grid {
    height: 600px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    max-width: 20rem;
    width: 90%;
  }
  
  /* Estilos do cabeçalho */
  h2 {
    text-align: center;
  }
  
  /* Estilos dos campos de entrada */
  input[type="email"],
  input[type="password"] {
    background-color: #3b4148;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 0.25rem;
    box-sizing: border-box;
  }


  
  /* Estilos do botão */
  .btn {
    background-color: #ff9900;
    border-radius: 0.25rem;
    color :#eee;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Estilos do botão ao passar o mouse */
  .btn:hover {
    opacity: 0.8;
  }
  
  /* Estilos do rodapé */
  .footer {
    text-align: center;
  }
  
  /* Estilos responsivos */
  @media screen and (max-width: 600px) {
    .container {
      width: 80%;
    }

    
  }
  