<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
    {% load custom_filters %}
    <link rel="stylesheet" href={% static "groupings/css/gerenciar_agrupamento_produtos.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "accounts/css/nav.css" %}>

    
</head>
<body>
{% if messages %}
  {% for message in messages %}
    <div id="myAlert"  class="alert {{ message.tags }}">{{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
  <main>
    <header>
      <nav>
        <a class="logo" href="#">Simba</a>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
  
        <ul class="nav-list">
          <li><a href="{% url 'groupByAd_management' %}">Gerenciar Agrupamento</a></li>
          <!-- <li><a href="{% url 'create_new_groupByAd' %}">Criar Agupamento</a></li> -->
          <li><a href="{% url 'search' %}">Procurar Produtos</a></li>
          <li><a href="{% url 'usuario' %}">Usuario</a></li>
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Sair</a></li>
          {% endif %}
        </ul>
        
      </nav>     
</header>

<div class="margin-table">

  
  <div class="container_canvas" style="width: 800px; height: 300px;" >
    <br>
    <h4>Vendas: {PRODUTO x }</h4>
    <canvas id="despesas_mensal" ></canvas>
  </div>
<div class="espaçamento">
 
</div>
  
  <table class="styled-table" id="produtos-table">
    <thead class="styled-thead">
      <tr>
        <th>Produto</th>
        <th>Vendas brutas</th>
        <th>Unidades Vendidas</th>
        <th>Média Preço</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
          <tr>
            <td class="group-details-pro"  group_id="{{product.id}}">
              <input type="hidden" name="product_id" name2="bla bla" value="{{product.product_id}}">
              
              <img src="{{product.image.url}}" alt="{{product.title}}" value="{{product.id}}"  width="75px" height="75px">
              <br>
              <p class="title_product">{{product.title}}</p>
              
            </td>
            <td>
              <p class="title_product">O id do produto é o {{product.product_id}}</p>

              
          </td>
          <td> </td>
          <td> </td>
              
          
            <td>
              <div class="menu-container">
                <div class="menu-button">...</div> 
                <div class="hidden-buttons">

                  <form method="POST" action="{% url 'stop_product' product.object_id %}">{% csrf_token %}
                    <input type="hidden" name="group_id" value="{{group_id}}">                
                    {%if product.is_tracking_activated %}
                      <button  id="parar-anuncio">Parar</button>
                    {% else %}
                      <button  id="parar-anuncio">Monitorar</button>
                    {% endif %}               
                  </form>

                  <form method="POST" action="{% url 'more_details' product.product_id %}" >{% csrf_token %}
                    <button type="submit">Detalhes</button>
                  </form>
                  
                  <form method="POST" action="{% url 'exclude_products' product.object_id %}" id="formulario-exclusao-{{group_id}}">
                    {% csrf_token %}
                    <input type="hidden" name="group_id" value="{{group_id}}">
                    <button type="button" id="excluir-anuncio-{{group_id}}" title="{{group_title}}">Excluir</button>
                  </form>
                    
               </div>
            </td>
            </td>
            <td id="price_container">
              {% if tracking_infos|get_key:product.product_id|get_key:'avg_price'%}
              {{tracking_infos|get_key:product.product_id|get_key:'avg_price'}}
              <div id="arrow_price" class="circle-container" product_id="{{product.product_id}}">
                
              </div>
              {% else %}
              N/A
              {% endif %}
            </td>
            <td>
              {% if tracking_infos|get_key:product.product_id|get_key:'avg_health'%}
              {{tracking_infos|get_key:product.product_id|get_key:'avg_health'}}
              <div id="arrow_health" class="circle-container" product_id="{{product.product_id}}">
                
              </div>
              {% else %}
              N/A
              {% endif %}
            </td>
            <td> </td>
            <td> </td>
          </tr>
       
      {% endfor %}  
    </tbody>
  </table>
</div>
      

</main>  






<script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.6/datatables.min.js"></script>


<script src="{% static 'accounts/js/navbar.js' %}"></script>
<script src="{% static 'groupings/js/group_by_ad_product.js' %}"></script>

 
<!--importação do JS para o dashboar -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'dashboard/js/dashboard.js' %}"></script>
<script>
  renderiza_despesas_mensal()
</script>



{{ tracking_infos|json_script:'tracking_infos' }}

</body>
</html>