<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrupamentos</title>
    {% load static %}
    <link rel="stylesheet" href={% static "groupings/css/gerenciar_agrupamento_produtos.css" %}>
    
</head>
<body>
    {% if messages %}
    <div class="messages">
        <ul class="messages-list">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
  <main>
    <header>
        <nav>
            <a class="logo" href="/">Simba</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                {% if request.user.is_authenticated %}
                    <li><a href="#">Início</a></li>
                {% endif %}
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Projetos</a></li>
                <li><a href="#">Contato</a></li>          
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                {% endif %}
            </ul> 
        </nav>      
</header>

    <div class="container-new-modal">
        <button id="openModal" class="new-modal">Novo Agrupamento</button>
    </div>

    <div class="modal" id="myModal"  >
    <div class="area_formulario_agrupamento"  >
        <div class="form_group">
            <form method="post" class="modal-content" action=" {% url 'create_new_groupByAd' %}" enctype="multipart/form-data"> {% csrf_token %}    
                <div class="container-close-modal">
                    <span id="closeModal" class="close_modal"  >&times;</span> 
                </div>
                <div> 
                    <h3>Novo Agrupamento Produto</h3>
                </div>  
                
                {{ groupByAd_form.as_p }}

                <button type="submit">Criar </button>

            </form>
        </div>
    </div>
    </div>
    
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Buscar...">
        <button id="searchButton">Buscar</button>
    </div> 
    <tbody>
        <table class="styled-table">
          <thead class="styled-thead">
            <tr>
              <th>Agrupamento</th>
              <th>Vendas brutas</th>
              <th>Unidades Vendidas</th>
              <th>Média Preço</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groupByAd_all %}
            <form action="{% url 'groupByAd_details' %}" method="get" class="redirectToGroupDetails_form" group_id="{{group.id}}">
              <tr>
                <td class="group-details" group_id="{{group.id}}">
                  <input type="hidden" name="group_id" value="{{group.id}}">
                  <img src="{{group.image.url}}" alt="{{group.title}}" width="75px" height="75px">
                  <br>
                  <p>{{group.title}}</p>
                </td>
              </tr>
            </form>
            {% endfor %}
            
          </tbody>
        </table>
      </tbody>
    </table>

</main>   


<script src="{% static 'accounts/js/navbar.js' %}"></script>
<script src="{% static 'groupings/js/group_by_ad.js' %}"></script>
    
</body>
</html>