<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrupamento</title>
    {% load static %}
    <link rel="stylesheet" href={% static "groupings/css/gerenciar_agrupamento_produtos.css" %}>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={% static "accounts/css/nav.css" %}>

</head>
<body>
    {% if messages %}
    <div class="messages">
        <ul class="messages-list">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
  <main>
    <header>
      <nav>
        <a class="logo" href="#">Simba</a>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
  
        <ul class="nav-list">
          <li><a href="{% url 'groupByAd_management' %}">Gerenciar Agrupamento</a></li>
          <!-- <li><a href="{% url 'create_new_groupByAd' %}">Criar Agupamento</a></li> -->
          <li><a href="{% url 'search' %}">Search</a></li>
          <li><a href="{% url 'usuario' %}">Usuario</a></li>
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Sair</a></li>
          {% endif %}
        </ul>
        
      </nav>     
</header>

<div class="margin-table"  >
  
  <div class="container_canvas" style="width: 800px; height: 300px;" >
    <br>
    <h4>Vendas: {PRODUTO x }</h4>
    <canvas id="despesas_mensal" ></canvas>
  </div>
<div class="space">
 
</div>
  
  <table class="styled-table" id="produtos-table">
    <thead class="styled-thead">
      <tr>
        <th>Produto</th>
        <th>Vendas brutas</th>
        <th>Unidades Vendidas</th>
        <th>Média Preço</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <form action="" method="get" class="redirectToProductDetails_form" product_id="{{product.id}}">
          <tr>
            <td class="group-details" group_id="{{product.id}}">
              <input type="hidden" name="product_id" value="{{product.id}}">
              <img src="{{product.image.url}}" alt="{{product.title}}" width="75px" height="75px">
              <br>
              <p class="title_product">{{product.title}}</p>
            </td>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
        </form>
      {% endfor %}  
    </tbody>
  </table>
</div>
      

</main>   

<script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.6/datatables.min.js"></script>
<script src="{% static 'accounts/js/navbar.js' %}"></script>
<script src="{% static 'groupings/js/group_by_ad.js' %}"></script>

<script>
  $(document).ready(function(){
    $("#produtos-table").DataTable();
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'dashboard/js/dashboard.js' %}"></script>
<script>
  renderiza_despesas_mensal()

</script>
    
</body>
</html>