<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrupamentos</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href={% static "groupings/css/gerenciar_agrupamento_produtos.css" %}>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href={% static "accounts/css/nav.css" %}>
</head>

<body>
    {% load custom_filters %}
{% if messages %}
  {% for message in messages %}
    <div id="myAlert"  class="alert {{ message.tags }}">{{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
    
  <main>
    <header>
      <nav style="z-index: 1;">
        <a class="logo" href="#">Simba</a>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
  
        <ul class="nav-list">
          <li><a href="{% url 'groupByAd_management' %}">Gerenciar Agrupamento</a></li>
          <li><a href="{% url 'search' %}">Procurar Produtos</a></li>
          <li><a href="{% url 'usuario' %}">Usuario</a></li>
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Sair</a></li>
          {% endif %}
        </ul>
        
      </nav>     
</header>


    <div class="container-new-modal">
        <button id="openModal" class="new-modal">Novo Agrupamento</button>
    </div>
   
  

    <div class="modal-group" id="myModal"  style="z-index: 1;">
      <div class="area_formulario_agrupamento"  >
          <div class="form_group">
              <form method="post" class="modal-content" action=" {% url 'create_new_groupByAd' %}" enctype="multipart/form-data"> {% csrf_token %}    
                  <div class="container-close-modal">
                      <span id="closeModal" class="close_modal"  >&times;</span> 
                  </div>
                  <div> 
                      <h3>Novo Agrupamento Produto</h3>
                  </div>  
                  
                  <div class="form-new-group">
                    <div class="item-image">
                      <p>imagem:  {{groupByAd_form.image}}</p>
                    </div>
                  
                    <div class="item-titulo">
                    <p>Titulo:  {{groupByAd_form.title}}</p>
                    </div>
                
                  </div>

                  <button class="button-modal-edit" type="submit">Criar </button>

              </form>
          </div>
      </div>
    </div>





    <div class="modal-group" id="myModall"  style="z-index: 1;">
      <div class="area_formulario_agrupamento"  >
          <div class="form_group">
              <form method="post" class="modal-content" action=" {% url 'edit_groupByAd' %}" enctype="multipart/form-data"> {% csrf_token %}    
                  <div class="container-close-modal">
                      <span id="closeModall" class="close_modal"  >&times;</span> 
                  </div>

                  <div> 
                      <h3>Editar Agrupamentos</h3>
                  </div>  
                  
                  <div class="form-new-group">
                    <div class="item-image">
                      <p>imagem:</p>
                      <input type="file" name="image_to_modify" id="image-modify">
                    </div>
             
                    <div class="item-titulo">
                    <p>Titulo: </p>
                    <input type="text" name="title_to_modify" id="title-modify">
                    </div>      
                  </div>
                  <input type="hidden" name="group_id_modify" id="group-id-modify">

                  <button class="button-modal-edit" type="submit">Editar </button>

              </form>
          </div>
      </div>
    </div>
<div class="row">
    
    <div class="col-md">
        <br>

        <h4>Preço Médio dos Agrupamentos</h4>
        <canvas id="price_variation" width="250" height="200"></canvas>
    </div>
    
    <div class="col-md">
        <br>
        <h4>Saúde Média dos Agrupamentos</h4>
        <canvas id="health_variation" width="250" height="200"></canvas>
    </div>

</div>

    


    
    <div class="espaçamento">
     
    </div>
    
        <table class="styled-table" id="my-table">
          <thead class="styled-thead">
            <tr>
              <th class="variable-container">
                
                <p>Agrupamento </p> 
                <i class="icono fas fa-question"> </i>
              
              </th>
              <th>Preço médio</th>
              <th>Saúde Média</th>
              <th>Monitoramento</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groupByAd_all %}
              <tr>
                <td class="group-details" group_id="{{group.id}}" >
                  <img src="{{group.image.url}}" alt="{{group.title}}" width="75px" height="75px">
                  <br>
                  <p>{{group.title}}</p>

                <td id="price_container">
                  <div class="variable-container">
                    <div>
                      {% if tracking_infos|get_key:group.id|get_key:'avg_price'%}
                      {{tracking_infos|get_key:group.id|get_key:'avg_price'}}
                    </div>

                    <div>
                      <div id="arrow_price" class="circle-container" group_id="{{group.id}}"></div>
                      
                      {% else %}
                      N/A
                      {% endif %}
                    </div>

                    </div>
                  </td>

                  <td>
                    <div class="variable-container">
                      <div>
                      {% if tracking_infos|get_key:group.id|get_key:'avg_health'%}
                      {{tracking_infos|get_key:group.id|get_key:'avg_health'}}

                      </div>
                        <div>

                        <div id="arrow_health" class="circle-container" group_id="{{group.id}}"></div>
                          
                        {% else %}
                        N/A
                        {% endif %}
                      </div>

                    </div>

                 
                </td>
                <td>
                  <div class="variable-container">
                  
                  {% if group.is_tracking_activated %}
                    <div>
                      <p>Ativo</p>
                    </div>
                    <div>
                      <span class="green-dot"></span>
                    </div>

                  {% else %}
                    <div>
                      <p>Pausado</p>    
                    </div>
                    <div>
                    <span class="red-dot"></span>
                  </div>

                  {% endif %}

                  </div>
                </td>
                <td>
                  <div class="menu-container">
                    <div class="menu-button">. . .</div> 
                    <div class="hidden-buttons">
                      <form method="POST" action="{% url 'toggle_tracking_groupByAd' group.id %}">{% csrf_token %}  
                        {%if group.is_tracking_activated %}
                          <button  id="parar-anuncio">Parar de Monitorar</button>
                        {% else %}
                          <button  id="parar-anuncio">Monitorar</button>
                        {% endif %}
                      </form>
                      
                      <button id="openModall" class="edit-button" title="{{group.title}}" image="{{group.image.url}}" group_id="{{group.id}}"> Editar</button>  

                      <form method="POST" id="formulario-exclusao-{{ group.id }}"  action="{% url 'exclude_groupByAd' group.id %}">{% csrf_token %}
                        <button type="submit" title="{{group.title}}" id="excluir-anuncio-{{ group.id }}" >Excluir</button>
                      </form>
                    </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>   
        </table>   
  </div>

</main>   


</main> 




<!-- importação do datatable para tabelas dinamicas -->
<script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.6/datatables.min.js"></script>

<!-- js da aplicação que nos mesmo criamos -->
<script src="{% static 'accounts/js/navbar.js' %}"></script>
<script src="{% static 'groupings/js/group_by_ad.js' %}"></script>

<!-- importação do JS para o dashboar -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  


<script>
  window.onload = function(e){
    showLineCharComparation('{% url "getPriceVariationsGroupByAd" %}', 'price_variation')
}
</script>

{{ tracking_infos|json_script:'tracking_infos' }}





    
</body>
</html>