<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href={% static "groupings/css/gerenciar_agrupamento_produtos.css" %}>
    
</head>
<body>

    <header>
        <nav>
            <a class="logo" href="/">Simba</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                {% if request.user.is_authenticated %}
                    <li><a href="#">Início</a></li>
                {% endif %}
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Projetos</a></li>
                <li><a href="#">Contato</a></li>          
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                {% endif %}
            </ul> 
        </nav>      
    </header>

    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    <main>
    <nav>
        <h1> {{request.user.username}} Seus Agrupamentos SELLERS </h1>
    </nav>

    {% for product in products %}
        {{product}}
    {% endfor %}

    <footer>
      <p>Rodape</p>
    </footer>
  </main>
<script src="{% static 'accounts/js/accounts.js' %}"></script>
<script src="{% static 'accounts/js/navbar.js' %}"></script>
    
</body>
</html>