<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Novo Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href={% static "css/novo_style.css" %}>
</head>

<body><header class="navegacao">
  <ul class= "menu">
    <li><a href="{% url 'login' %}">  Página Inicial  </a></li>
    <li><a href="{% url 'sobre' %}">Sobre</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
  </ul>
</header>

<sectiond class="area-login">
{% if messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert" style="position: fixed; top: 80px; right: 20px;">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}
    <div class="login">
        <div>
            <img src={% static "img/SIMBA.png" %}>
        </div>
        <form action="{% url 'novo_login'%}" method="POST" class="form_login"> {% csrf_token %}
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <input type="submit" placeholder="Sign in" value="sign in">
        </form>
        <p>Not a member? <a href="{% url 'novo_signup' %}">Sign up now</a>
    </div>
</section>
</body>
</html>