{% extends "bases/base-initial.html" %}

{% load static %}

{% block title %}
    login
{% endblock title %}

{% block main %} 
<main>

    <sectiond class="area-login">
        {% if erros %}
            {% for message in messages %}
                <div id="myAlert" style="position: fixed; top: 150px; right: 80px;"  class="alert {{ message.tags }}">{{ message }}            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="login">
            <div>
                <img src='{% static "accounts/images/SIMBA.png" %}'>
            </div>
            <h4>CADASTRE-SE</h4>
            <form method="post">
                {% csrf_token %}
                    <p>Username</p>
                    {{form.username}}                    
                    {{ form.username.errors }}
                    <p>Email</p>
                    {{ form.email }}                   
                    {{ form.email.errors }}
                    <p>Senha</p>
                    {{form.password1}}
                    {{ form.password1.errors }}
                    <p>Confirmar senha</p>
                    {{form.password2}}
                    {{ form.password2.errors }}
                    <!-- {{ form.as_p }} -->
                    <br>
                    <br>
                    
                    

                <button type="submit">Cadastrar</button>
            </form>

            <!-- <form action="{% url 'signup'%}" method="POST" class="formlogin">{% csrf_token %}
                <input id="username_field" type="text" placeholder="Nome" name="username" required><div id="username_feedback_error"></div>
                <input id="email_field" type="email" placeholder="Email" name="email" required><div id="email_feedback_error"></div>
                <input class="password-input" id="password_field" type="password" placeholder="Senha" name="password" required> 
                <div id="password_feedback_error"></div>
                <input id="confirm_password_field" type="password" placeholder="Confirmar senha" name="confirm_password"required><div id="password_confirm_feedback_error"></div>
                <input type="submit" value="Sign In">
                <span></span>
            </form> -->
            
            
            <p>Ja é membro?</p>  <a href="/login">RETURN</a> 
            
        </div>
    </section>
    <br><br>

    <!-- <script src="{% static 'accounts/js/fields_signup_validation.js' %}"></script>
    <script src="{% static 'accounts/js/fields_signup_validation.js' %}"></script>
</body>

</body>
</html> -->

{% endblock main %}