{% extends "bases/base-initial.html" %}

{% load static %}

{% block title %}
    Signup
{% endblock title %}

{% block main %} 

<sectiond class="area-login">
    <div class="login">
        <div>
            <img src='{% static "accounts/images/SIMBA.png" %}'>
        </div>
        <h2>CADASTRE-SE</h2>
        <form action="{% url 'signup'%}" method="POST" class="formlogin">{% csrf_token %}
            <input id="username_field" type="text" placeholder="Nome" name="username" required><div id="username_feedback_error"></div>
            <input id="email_field" type="email" placeholder="Email" name="email" required><div id="email_feedback_error"></div>
            <input class="password-input" id="password_field" type="password" placeholder="Senha" name="password" required> 
            <div id="password_feedback_error"></div>
            <input id="confirm_password_field" type="password" placeholder="Confirmar senha" name="confirm_password"required><div id="password_confirm_feedback_error"></div>
            <input type="submit" value="CADASTRAR">
            <span></span>
        </form>
        <p>Ja é membro?</p>  <a href="/login">RETURN</a>       
    </div>
</section>

{% endblock main %}
