<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do usuario</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet"  type="text/css" href={% static "accounts/css/accounts_style.css" %}>
    <link rel="stylesheet"  type="text/css" href={% static "accounts/css/perfil_usuario.css" %}>
    <link rel="stylesheet"  type="text/css" href={% static "bases/css/nav.css" %}>
  </head>

<body>
    <header>
    <nav>
        <a class="logo" href="/">Simba</a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="#">Início</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Produtos</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
</header>
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                   <img src={% static "accounts/images/SIMBA.png" %} alt="img-avatar">
                    <button type="button" class="boton-avatar">
                        <i class="far fa-image"></i>
                    </button>
                </div>
                <!-- <button type="button" class="boton-portada">
                    <i class="far fa-image"></i> Cambiar fondo
                </button> -->
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 style=" text-transform: uppercase;"  class="titulo">{{user.username}}</h3>
            </div>
            <div class="perfil-usuario-footer">
                <ul class="lista-datos">
                    <li><i class="icono fas fa-user"> </i></i> Usuario : </li>
                    <li><i class="icono fas fa-lock"></i> Senha : </li>
                    <li><i class="icono fas fa-envelope"></i> Email : </li>
                    <li><i class="icono fas fa-building"></i> Endereço : </li>
                    <li><i class="icono fas fa-phone-alt"></i> Telefone : </li>
                    <li><i class="icono fas fa-calendar-alt"></i> Data de Nascimento : </li>
                </ul>
                <ul class="lista-datos">
                    <input  placeholder="{{user.username}}" value="" class="input-user">
                    <input  placeholder="{{user.email}}" value="" class="input-user">
                    <input  placeholder="{{user.username}}" value="" class="input-user">
                    <input  placeholder="{{user.username}}" value="" class="input-user">
                    <input  placeholder="{{user.username}}" value="" class="input-user">
                    <input  placeholder="{{data_de_nascimento}}" value="" class="input-user">
                </ul>

                <div class="container">
                  <button class="dark-button"> Enviar </button>
                </div>

            </div>
            
           
          </div>
    </section>
</body>

</html>
