<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href={% static "search/CSS/search_style.css" %}>
<link rel="stylesheet" href={% static "accounts/css/nav.css" %}>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="{% static 'search/js/search.js' %}"></script>
<script src="{% static 'js/navbar.js' %}"></script>

</head>
<body>
 
  <header>
    <nav>
      <a class="logo" href="/">Simba</a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>

      <ul class="nav-list">
        <li><a href="{% url 'gerenciar_agrupamentos_produtos' %}">Gerenciar Agrupamento</a></li>
        <li><a href="{% url 'criar_agrupamentos_produtos' %}">Criar Agupamento</a></li>
        <li><a href="{% url 'search' %}">search</a></li>
        <li><a href="#">Contato</a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Sair</a></li>
        {% endif %}
      </ul>
      
    </nav>

    <nav>
      <div class="contents_ad">
        <form action="{% url 'search' %}" method="GET" class="search_bar_box">
          {% csrf_token %} 
          <input type="text" placeholder="Informe a palavra chave" name="keyWord">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form> 
      </div>
    </nav>
    
  </header>
  <br>



  <div class="wrapper">
    <div class="side_bar_filters">
      <input type="submit" value="Filtrar" form="filters">
      <br><br>
      <form id="filter_to_exclude" action="{% url 'search' %}" method="get">
        {% csrf_token %}
        <input type="hidden" name="keyWord" value="{{ keyWord }}"/>
        <input type="hidden" name="applied_filters" value="{{applied_filters}}"/>
        <input type="hidden" name="applied_filter_to_exclude" id="selected_filter_to_exclude" name="selected_filter_to_exclude" value="">
        {% for filter in applied_filters %}
        <span>
          <button type="button" class="filter_to_exclude_button" value="{{filter.value_of_filter}}">{{ filter.filter_name }} : {{filter.value_of_filter}}  &#x2716</button>
        </span>
        {% endfor %}   
      </form>
      <br>
      <form action="{% url 'add_product' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <input type="hidden" name="product_thumbnail" value="{{ product.thumbnail }}">
        <input type="hidden" name="product_title" value="{{ product.title }}">
        <input type="hidden" name="product_original_price" value="{{ product.original_price }}">
        <input type="hidden" name="product_price" value="{{ product.price }}">
        <input type="hidden" name="product_condition" value="{{ product.condition }}">
        <input type="hidden" name="product_free_shipping" value="{{ product.shipping.free_shipping }}">
        <input type="hidden" name="product_logistic_type" value="{{ product.shipping.logistic_type }}">

       
        <input type="submit" value="Adicionar ao Banco de Dados" form="" >
        
        
      </form>
      <br>
      <form id="filters" action="{% url 'search' %}" method="GET">
      {% for filter in available_filters %}
        <h2>{{filter.name}}</h2>
        
          {% csrf_token %}
          <input type="hidden" name="keyWord" value="{{ keyWord }}"/>
          <input type="hidden" name="applied_filters" value="{{applied_filters}}"/>
          {% for value_of_filter in filter.values %}
            <input type="radio" id="{{ value_of_filter.id }}" name="filter_{{ filter.id }}" value="{{ filter.id }}:{{ value_of_filter.id }}:{{ filter.name }}"/>
            <label for="{{ value_of_filter.id }}">
              <span>{{ value_of_filter.name }}</span> <span>({{ value_of_filter.results }})</span> <br>
            </label>
          {% endfor %}
          <br>
      {% endfor %}
    </form>
    </div> 
  </div>

  <div class="catalog">

  {% for product in products %}
  <form action="{% url 'search' %}" method="GET">
  {% csrf_token %}
    <input class="checkbox" id={{product.id}} type="checkbox" name="lists[new]" />
    <label for={{product.id}}>
    <div class="product">
      <span class="check">✓</span>
      <div class="image">
        <img src="{{product.thumbnail|slice:':-5'}}F.WEBP" alt="Imagem do produto">
      </div>
      <div class="details">
        <h2>{{ product.title }}</h2>
        <span class="seller_name">{{product.seller.nickname}}</span><br>
        {% if product.original_price %}
        <span class="original_price">R$ {{product.original_price}}</span><br>
        {% endif %}
        <span class="price">R$ {{product.price}}</span><br>
        <span class="condition">{{ product.condition }}</span>

        {% if product.shipping.free_shipping %}
        <br>
        <span class="free_shipping">Frete grátis</span>
        {% endif %}
        {% if product.shipping.logistic_type == "fulfillment" %}
        <span class="free_shipping" style="line-height: 1.25">FULL</span>
        {% endif %}
      </div>
    </div>
    </label>
  </form>
{% endfor %}
</div>

<div class="pagination">
  <span class="step-links">
      {% if page.has_previous %}
          <a href="?page={{ page.previous_page_number }}">Anterior</a>
      {% endif %}
      <span class="current-page">
          Page {{ page.number }} of {{ page.paginator.num_pages }}.
      </span>
      {% if page.has_next %}
          <a href="?page={{ page.next_page_number }}">Próximo</a>
      {% endif %}
  </span>
</div>



</body>
</html>

