<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href={% static "search/css/search_style.css" %}>
<link rel="stylesheet" type="text/css" href={% static "accounts/css/nav.css" %}>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


</head>
<body>
 
  <header>
    <nav>
      <a class="logo" href="/">Simba</a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>

      <ul class="nav-list">
        <li><a href="{% url 'groupByAd_management' %}">Gerenciar Agrupamento</a></li>
        <li><a href="{% url 'create_new_groupByAd' %}">Criar Agupamento</a></li>
        <li><a href="{% url 'search' %}">search</a></li>
        <li><a href="#">Contato</a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Sair</a></li>
        {% endif %}
      </ul>
      
    </nav>

    <nav>
      <div class="contents_ad">
        <form action="{% url 'search' %}" method="GET" class="search_bar_box">
          {% csrf_token %} 
          <input type="text" placeholder="Informe a palavra chave" name="keyWord">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form> 
      </div>
    </nav>
    
  </header>
  <br>

  {% if messages %}
  <ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
  </ul>
  {% endif %}

  <div class="wrapper">
    <div class="side_bar_filters">
      <input type="submit" value="Filtrar" form="filters">
      <br><br>
      <form id="filter_to_exclude" action="{% url 'search' %}" method="get">
        {% csrf_token %}
        <input type="hidden" name="keyWord" value="{{ keyWord }}"/>
        <input type="hidden" name="applied_filters" value="{{applied_filters}}"/>
        <input type="hidden" name="applied_filter_to_exclude" id="selected_filter_to_exclude" name="selected_filter_to_exclude" value="">
        {% for filter in applied_filters %}
        <span>
          <button type="button" class="filter_to_exclude_button" value="{{filter.value_of_filter}}">{{ filter.filter_name }} : {{filter.value_of_filter}}  &#x2716</button>
        </span>
        {% endfor %}   
      </form>


      <br>
      <form id="filters" action="{% url 'search' %}" method="GET">
        {% for filter in available_filters %}
        <h2>{{ filter.name }}</h2>
        
          {% csrf_token %}
          <input type="hidden" name="keyWord" value="{{ keyWord }}"/>
          <input type="hidden" name="applied_filters" value="{{applied_filters}}"/>
          {% for value_of_filter in filter.values %}
            <input type="radio" id="{{ value_of_filter.id }}" name="filter_{{ filter.id }}" value="{{ filter.id }}:{{ value_of_filter.id }}:{{ filter.name }}" class="hidden-radio"/>
            <label for="{{ value_of_filter.id }}" class="hidden-label">
              <span>{{ value_of_filter.name }}</span> <span>({{ value_of_filter.results }})</span> <br>
            </label>
          {% endfor %}
          <br>

      {% endfor %}
    </form>
    </div> 
  </div>

<span class="get_all_products">
  <input type="checkbox" name="select-all-products" id="select-all-products"> Selecionar todos
</span>
<form method="post" id="addProductsIntoGroup" enctype="multipart/form-data" create_new_GroupByAd_addProductsInIt="{% url 'create_new_GroupByAd_addProductsInIt' %}" add_products_into_GroupByAd="{% url 'add_products_into_GroupByAd' %}">
  {% csrf_token %}
  <div class="catalog">
  {% for product in products %}
    <input class="checkbox_product" id={{product.id}} type="checkbox" name="products_info" value="id={{product.id}}|title={{product.title}}|price={{product.price}}|sellerId={{product.seller.id}}|image={{product.thumbnail|slice:':-5'}}F.WEBP"/>
    <label for={{product.id}}>
    <div class="product">
      <span class="check">✓</span>
      <div class="image">
        <img src="{{product.thumbnail|slice:':-5'}}F.WEBP" alt="Imagem do produto">
      </div>
      <div class="details">
        <h2>{{ product.title }}</h2>
        <span class="seller_name">{{product.seller.nickname}}</span><br>
        {% if product.original_price %}
        <span class="original_price">R$ {{product.original_price}}</span><br>
        {% endif %}
        <span class="price">R$ {{product.price}}</span><br>
        <span class="condition">{{ product.condition }}</span>

        {% if product.shipping.free_shipping %}
        <br>
        <span class="free_shipping">Frete grátis</span>
        {% endif %}
        {% if product.shipping.logistic_type == "fulfillment" %}
        <span class="free_shipping" style="line-height: 1.25">FULL</span>
        {% endif %}
      </div>
    </div>
    </label>
    <span class="set_products">
      <button type="button" style="display: none;" id="set_products">Monitorar Anúncios</button>
    </span>
  
    {% endfor %}
  </div>
  <div id="addProductsToGroup_modal" class="addProductsToGroup_modal">
    <script>
      var listOfGroupByAd = '{{ all_GroupByAd }}';
    </script>
    <div id="addProductsToGroup_modal-content" class="addProductsToGroup_modal-content">
      <span class="close">&times;</span>
      <div class="userGroupByAd" id="userGroupByAd">
        <h1 class="title_UserGroupByAd">Escolha o agrupamento em que os produtos serão adicionados</h1>
        {% if all_GroupByAd %}
          {% for group in all_GroupByAd %}
            <div class="groupByAd">
              <div class="radio-group">
                <label class="radio-container">
                  <input type="radio" name="groupByAd_id" value="{{group.id}}" id="groupByAd">
                  <span class="checkmark"></span>
                  <img src="{{group.image.url}}" alt="{{group.title}}">
                  <span id="title_GroupByAd" class="title_GroupByAd">
                    <h2>{{ group.title }}</h2>
                  </span>
                </label>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>

      <span id="openCreationGroup">&#43</span>
      <span class="material-symbols-outlined" id="goBackToGroups">undo</span>

      <span class="createNewGroup" id="createNewGroup">
        <h1 id="title-create-new-group"> Crie um novo agrupamento </h1>
        {{groupByAd_form.as_p}}
      </span>
      
      <input type="submit" id="add-products-into_group" form="addProductsIntoGroup"/>
    </div>
  </div>

</form>

<form action="{% url 'search' %}" method="get">
  <div class="pagination">
    <span class="step-links">
        {% if pagination.has_previous %}
            <a class="pagination-link previous" href="action_page=set_previous_page&current_page={{pagination.current_page}}">&laquo; Anterior</a>
        {% endif %}

        <span class="current">
          <input type="hidden" name="current_page" value="{{ pagination.current_page }}">
            Página {{ pagination.current_page }} de {{ pagination.number_of_pages }}.
        </span>

        {% if pagination.has_next %}
            <a class="pagination-link next" href="action_page=set_next_page&current_page={{ pagination.current_page}}">próxima &raquo;</a>
        {% endif %}
    </span>
  </div>
</form>

<script>
  document.querySelectorAll(".pagination-link").forEach(function(link) {
    link.addEventListener("click", function(event) {
      event.preventDefault();
      
      var currentURL = window.location.href;
      var newHref = this.getAttribute("href");
      
      if (currentURL.indexOf("?") !== -1) {
          window.location.href = currentURL + "&" + newHref;
      } else {
          window.location.href = currentURL + "?" + newHref;
      }
    });
  });
</script>


<script src="{% static 'search/js/search.js' %}"></script>
<script src="{% static 'accounts/js/navbar.js' %}"></script>



</body>
</html>
