@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


body {
  font-family: "Poppins", sans-serif; ;
  background-color: #111;
  color: #fff;
  background-color: #1b1f27;
  font-family: Arial, Arial, Helvetica, sans-serif;
  overflow-x: hidden;

}
* {
margin: 0;
padding: 0;
}


a {
color: #fff;
text-decoration: none;
transition: 0.3s;
}

p a {
  color: #6190dc;
  text-decoration: none;
  transition: 0.3s;
  }

  p a:hover {
    color: #1e6dee;
  
    }
.variable-title{
  display: flex;
  gap: 10px;
  align-items: center;
  align-content: center;
  

}

.variable-container {
  display: flex;
  gap: 10px;
  align-items: center;
  align-content: center;
  
}


.variable-table{
  justify-content: space-between;
  flex-direction: ;
  display: flex;
  gap: 10px;
  align-items: center;
  align-content: center;
}

.variable-table i {
 
  width: 20px;
  transition-delay: 0s;
  
}

.variable-table i:hover {
  transition-delay: 0s;
  
}

.container-price{
  width: 50px;
}

.container-status{
  width: 70px;
}




p{
  margin-bottom: 0px;
}

a:hover {
opacity: 0.7;
}

.logo {
    /* font-size: 24px; */
    text-transform: uppercase;
    margin-top: -0.8rem;
    /* font-weight: 400; */
    font-size: 1.3rem;
    color: #f2970e;
    font-weight: bold;
    font-size: "Poppins", sans-serif;
    text-decoration: none;
}

.margin-table{
  margin: 40px;
}

.h1{
text-align: center;
}

::-webkit-scrollbar {
  width: 0.62rem;
  background-color: #172a31;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #f2970e;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffad33;
}


.container_canvas{
 color: white;
 margin-bottom: 50px;
}

.espaçamento{
  width: 100%;
  height: 50px;
}

#myAlert{
  position: fixed !important; 
  top: 250px !important; 
  right: 80px !important; 
  z-index: 1 !important; 
}



/* modal para o agrupamento    */
.modal-group {
display: none;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 20px;
border-radius: 10px;
}

.button-modal-edit{
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;
  background-color: #ffad33;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  color: #eee;
  border-radius: 8px;
  height: 45px;
  width: 320px;
  border: none;

}

.area_formulario_agrupamento {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
align-items: center;
    
}
.title_product{
  white-space: wrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  width: 90%;
  font-size: 12px;
}

.modal_content {
background-color: white;
padding: 20px;
border-radius: 5px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}



/* Estilos para o botão de fechar */
.container-close-modal {
margin: auto;
cursor: pointer;
height: 30px;
width: 350px;
float: right;
display: flex;
justify-content: flex-end;
padding-right: 10px;
}

.close_modal{
font-size: 25px;
color:red;
text-transform: uppercase;
font-weight: bold;

}

.close_modal:hover{
font-size: 27px;
}

#image_field {
background-color: #f0f0f0;
color: #333;
/* padding: 10px; */
border: px solid #ccc;
width: 100%;
height: 40px;
/* text-align: center; */
/* align-items: center; */
/* text-align: justify; */
align-self: center;
border-radius: 4px;
cursor: pointer;
}



@media (max-width: 999px) {
body {
  
}

.title_product{
  width: 100%;
  
}

.nav-list {
  position: absolute;
  top: 8vh;
  right: 0;
  width: 50vw;
  height: 92vh;
  background: #23232e;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}
.nav-list li {
  margin-left: 0;
  opacity: 0;
}
.mobile-menu {
  display: block;
}
}

.nav-list.active {
transform: translateX(0);
}

@keyframes navLinkFade {
from {
  opacity: 0;
  transform: translateX(50px);
}
to {
  opacity: 1;
  transform: translateX(0);
}
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


/*    ESTILO TABELA      */ 
/*    ESTILO TABELA      */ 
 /*    ESTILO TABELA      */ 
.container-new-modal{
width: 80%;
margin: 25px auto;
height: 75%;
display: flex;
justify-content: flex-end;
padding-right: 10px;
}

.new-modal {
  border: 1px solid #ffad33;
  background: #fff;
  color: #010101;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, transform 0.2s;
}

.new-modal:hover {
  background: #ffad33;
  color: #fff;
  transform: scale(1);
}


  


.search-container {
display: flex;
align-items: center;
margin-bottom: 10px;
}

.search-input{
background-color: #444;
color: #fff;
border: none;
border-radius: 0 5px 5px 0;
padding: 5px 10px;
cursor: pointer;
}

.styled-table {
width: 80%;
margin: 25px auto;
height: 75%;
/*border-collapse: collapse;*/
background-color: #222;
border: 1px solid #444;
border-radius: 8px;
/* display: flex; */
overflow-y:scroll ;
/* flex-direction: column; */
/* justify-content: center ; */


}

.styled-table th, .styled-table td {
padding: 15px;
text-align: left;
cursor: pointer;

}

.styled-table th {
background-color: #333;
font-weight: bold;

}



.styled-table tr:nth-child(odd) {
background-color: #222;
}

.styled-table tr:nth-child(odd):hover {
background-color: #520202;
/* scale: 1.01; */


}


.styled-table tr:nth-child(even) {
background-color: #444;
}
.styled-table tr:nth-child(even):hover {
background-color: #823131;
/* scale: 1.01; */

}

.styled-table th:first-child,
.styled-table td:first-child {
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
max-width: 400px;
/* cursor: pointer; */
}

.styled-table th:last-child,
.styled-table td:last-child {
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
/* max-width: 200px; */
cursor: pointer;
}




/*    ESTILO FORMULARIO      */ 
 /*    ESTILO FORMULARIO      */ 


.area_formulario_agrupamento form {   
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181920;
  width: 400px;
  height: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 5px whitesmoke;
  
}

.area_formulario_agrupamento form:hover {

box-shadow: 0 0 10px whitesmoke;
}

.form_grup form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form_grup input {
  margin-top: 10px;
  background-color: #252a34;
  color: #cbd0f7;
  border: none;
  height: 40px;
  width: 350px;
  outline: none;
  border-radius: 6px;
  padding-left: 10px;
}

.form_grup input:hover{
  box-shadow: 0 0 5px whitesmoke;
  background-color: #2d2e33 ;;

}

.input_group{
margin-top: 10px;
background-color: #252a34;
color: #cbd0f7;
border: none;
height: 40px;
width: 350px;
outline: none;
border-radius: 6px;
padding-left: 10px;
}

.input_group:hover{
box-shadow: 0 0 5px whitesmoke;
background-color: #2d2e33 ;;

}

.input_group_text{
  margin-top: 10px;
  background-color: #252a34;
  color: #cbd0f7;
  border: none;
  height: 45px;
  width: 350px;
  outline: none;
  border-radius: 6px;
  padding-left: 10px;
  max-width: 350px;
  min-width: 350px;
  max-height: 100px;
  min-height: 100px;
}

.input_group_text:hover{
box-shadow: 0 0 5px whitesmoke;
background-color: #2d2e33 ;;

}

.login input:last-child {
  margin-top: 20px;
}

.form_grup textarea {
  margin-top: 10px;
  background-color: #252a34;
  color: #cbd0f7;
  border: none;
  height: 45px;
  width: 350px;
  outline: none;
  border-radius: 6px;
  padding-left: 10px;
  max-width: 350px;
  min-width: 350px;
  max-height: 100px;
  min-height: 100px;
}

.form_grup textarea:hover{
box-shadow: 0 0 5px whitesmoke;
background-color: #2d2e33 ;;
}

.form_grup label{
  font-size: 16px;
  margin: 10px;
  text-align: center;
  
}

/* form [type="submit"] {
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;
  background-color: #ffad33;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  color: #eee;
  border-radius: 8px;
  height: 45px;
  width: 320px;
  border: none;
} */

/* form [type="submit"]:hover{
box-shadow: 0 0 5px whitesmoke;
font-size: bold;
font-size: 18.5px;
} */

/* teste */
.title-new-group{
margin: 10px;
}

.form-new-group{
margin: 10px;
display: flex;
flex-direction: column;
gap: 20px;
}

.form-new-group p{
font-size: 15px;
}

.item-image{
column-gap: 10px;
}

.item-titulo{
column-gap: 10px;
height: 30px;
}

.item-titulo input{
border: solid 2px #282e2b ;
color: black;
width: 100%;
height: 40px;
border-radius: 6px;
}

.group-details{
  display: flex;
  align-items: center;
}

.circle-container {
  width: 70px; /* Adjust the size of the circle as needed */
  height: 30px;
  position: relative;
  /* border-radius: 90%; */
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #ccc; /* Gray background for the circle */
  display: flex;
  justify-content: center;
  align-items: center;
}


.green {
  color: green;
}

.red {
  color: red;
}

.group-details-products{
  display: flex;
  flex-direction: column;
}

img{
  margin-right: 10px;
}


/* 
 BOTOES DE EDITAR */

.container-button{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;

}

.stop-button{
  background-color: #c1c320; /* Cor de fundo vermelha */
  color: #fff; /* Cor do texto branca */
  padding: 10px 20px; /* Espaçamento interno do botão */
  border: none; /* Sem borda */
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  font-size: 12px; /* Tamanho da fonte */
  width: 90px;
  height: 30px;
}

.delete-button {
  background-color: #d01f1f; /* Cor de fundo vermelha */
  color: #fff; /* Cor do texto branca */
  padding: 10px 20px; /* Espaçamento interno do botão */
  border: none; /* Sem borda */
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  font-size: 12px; /* Tamanho da fonte */
  width: 90px;
  height: 30px;
}

.delete-button:hover {
  background-color: #ff0000; /* Cor de fundo vermelha mais escura quando hover */
  font: bold;
}


/* Estilo para o botão "Editar" */
.edit-button {


}



.dataTables_wrapper .dataTables_length select {
  color: rgba(16, 16, 15, 0.678) !important ; 
  /* border: black  !important ; */
  text-shadow: -0.5px -0.5px 0 #FFF, 0.5px -0.5px 0 #FFF, -0.5px 0.5px 0 #FFF, 0.5px 0.5px 0 #FFF, 1px 1px 3px rgba(0, 0, 0, 0.8) !important; /* Adiciona uma sombra branca e uma sombra de texto */
}

.dropdown {
  position: relative;
  display: inline-table;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6e1d1d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}













/* PRODUCT DETAILS */

.container_principal_product_details{
  margin: 50px; /* Define a margem de 5px em todas as direções */
  padding: 10px; /* Define o preenchimento de 10px para o conteúdo dentro do contêiner (opcional) */
  border: px solid #514f4f;

}

.primary-container{
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.image-product{
  border-radius: 10px;
  width: 500px;
  height: 500px;
}

.primary_informations{
  gap: 20px;

}

@media (max-width: 999px) {
.primary-container{
  display: flex;
  flex-direction: column;
  
}

.styled-table th:first-child,
.styled-table td:first-child {
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
max-width: 200px;
}
.image-product{
  border-radius: 10px;
  width: 550px;
  height: 550px;
  align-items: center;
}



}

@media (max-width: 600px) {
  .primary-container{
    display: flex;
    flex-direction: column;
    
  }
  .image-product{
    border-radius: 10px;
    width: 400px;
    height: 400px;
    align-items: center;
  }
  
  
  
  }



/* teste 3 pontinhos */

.menu-container {
  position: relative;
  display: inline-block;
}

.menu-button {
  /* background-color: #333; */
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.hidden-buttons {
  display: none;
  position: absolute;
  min-width: 100px;
  background-color: #ffffff;
  border: 1px solid #333;
  border-radius: 5px;
  /* right: 0; */
  left: 100%;
  top: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-weight: 600;
}

.hidden-buttons button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.hidden-buttons button:hover {
  background-color: #dddddd;
  border-radius: 5px;
  color: rgb(0, 0, 0);

}

.menu-container:hover .hidden-buttons {
  display: block;
}

.green-dot, .red-dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.green-dot, .red-dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.green-dot {
  background-color: LightGreen;
}

.red-dot {
  background-color: red;
}


.red-dot {
  background-color: red;
}