<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do produto</title>
    {% load static %}
    <link rel="stylesheet" href={% static "groupings/css/gerenciar_agrupamento_produtos.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "accounts/css/nav.css" %}>
    
</head>
<body>
    {% if messages %}
    <div class="messages">
        <ul class="messages-list">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
 
    <header>
        <nav>
          <a class="logo" href="{% url 'sobre' %}">Simba</a>
          <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
    
          <ul class="nav-list">
            <li><a href="{% url 'groupByAd_management' %}">Gerenciar Agrupamento</a></li>
            <!-- <li><a href="{% url 'create_new_groupByAd' %}">Criar Agupamento</a></li> -->
            <li><a href="{% url 'search' %}">Procurar Produtos</a></li>
            <li><a href="{% url 'usuario' %}">Usuario</a></li>
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Sair</a></li>
            {% endif %}
          </ul>
          
        </nav>     
  </header>
<main>
    <div class="container_principal_product_details" >

        <div class="primary-container">
            <div id="main_picture">
                <img src="{{product.pictures.0.secure_url}}" alt="Thumbnail foto" class="image-product" >
            </div>
            <br>

            <div class="primary_informations">
                <h2>Informações do produto</h2>
                <hr>
                <br>     
                <p class="title">Titulo: {{product.title}}</p><br>
                <!-- <p class="original_price">Preço original   R$ {{product.original_price}}</p><br> -->
                <p class="price">Preço atual:   R$ {{product.price}}</p><br>
                <p class="id">ID:   {{product.id}}</p><br>
                <p>Quantidade inicial de estoque:   {{product.initial_quantity}}</p><br>
                <p>Quantidade disponível:   {{product.available_quantity}}</p><br>
                <!-- <p>Vendas:   {{product.sold_quantity}}</p><br> -->
                <p> Data de criação: {{product.date_created}} </p><br>
                
                {% for term in product.sale_terms %}
                    <p>{{term.name}}: {{term.value_name}} </p> <br>
                {% endfor %}
                <p>Link do Produto:  <a href="{{product.permalink}}">{{product.permalink}}</a></p><br>


                {% if product.condition == 'new'%}
                    <p> Condição do Produto: Novo </p><br>
                {% else %}
                    <p> Condição do Produto: Usado </p><br>
                {% endif %}

                <p> Tipo de entrega: {{product.logistic_type}} </p><br>

                


                <br><br>       
            </div>
        </div>

        <br>
        
        <br>
    <div class="side_informations">

        <h2>Informação do vendedor</h2><br>

    </div>
   
    <hr>
    <br>

    <div class="complementaries_informations">
        {% for key, value in product.seller_address.items %}
            <!-- <p>{{key}}, ":", {{value.name}} </p> <br> -->
            {%if key == "city"%}
                <p>Cidade : {{value.name}} </p> <br>
            {%endif%}

            {%if key == "state"%}
                <p>Estado : {{value.name}} </p> <br>
            {%endif%}

            {%if key == "country"%}
                <p>Pais : {{value.name}} </p> <br>
            {%endif%}

        {% endfor %}
        <!-- <span class="date_created">{{product.date_created}}</span> -->
    </div>
    <br><br><br><br><br><br>
    <!-- <p>{{product}}</p> -->
    </div>

</main>   


<script src="{% static 'accounts/js/navbar.js' %}"></script>
<script src="{% static 'groupings/js/group_by_ad.js' %}"></script>
    
</body>
</html>