{% extends "bases/base-initial.html" %}

{% load static %}

{% block title %}
    login
{% endblock title %}

{% block main %} 
<main>
    <sectiond class="area-login">
        <div class="login">
            <div>
                <img src={% static "accounts/images/SIMBA.png" %}>
            </div>
            <form action="{% url 'log_in'%}" method="POST" class="form_login"> {% csrf_token %}
                <input type="text" placeholder="Email ou Nome" name="email-username" required>
                <input type="password" placeholder="Senha" name="password" required>
                <input type="submit" class="btn" placeholder="Sign in" value="sign in">
            </form>
            <br>
            <p>Não é membro? <a href="{% url 'signup' %}">Cadastre-se</a>
              <br>
              <br>
            <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
        </div>
    </section>
</main> 
{% endblock main %}
