<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Novo Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href={% static "accounts/CSS/accounts_style.css" %}>
    <script src="{% static 'js/accounts.js' %}"></script>
</head>

<body>

<sectiond class="area-login">

    
    {% if messages %}
        {% for message in messages %}
          <div id="myAlert" style="position: fixed; top: 150px; right: 80px;"  class="alert {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    

    <div class="login">
        {% if validlink %}
        
        <form action="" method="post" class="form_login">

            <h1> Entre com sua nova senha para resetar.</h1>

            {% csrf_token %}
            
                {{ form.new_password1.errors }}
                <label class="form-label" for="id_new_password1"><p>Nova Senha:<p></label>
                <input type="password"placeholder="Senha" name="new_password1" class="form-control" id="id_new_password1"> 
            
                {{ form.new_password2.errors }}
                <label class="form-label" for="id_new_password2"><p>Confirmação de senha:<p/></label>
                <input type="password" placeholder="Confirmar Senha" name="new_password2" class="form-control" id="id_new_password2"> 
            <br>

            <button type="submit"  class="btn" >Alterar Senha</button>
            
        </form>
        {% else %}
        <h1>Falha na redefinição de senha</h1>
        <p>O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>
        {% endif %}
    </div>


</section>
</body>
</html>


