{% extends "bases/base-initial.html" %}

{% load static %}

{% block title %}
    Reset Form Confirm
{% endblock title %}

{% block main %} 
<sectiond class="area-login">
    <div class="login">
        {% if validlink %}
        
        <form action="" method="post" class="form_login">

            <h2> Entre com sua nova senha para resetar.</h2>

            {% csrf_token %}
            
                
                <label class="form-label" for="id_new_password1"><p>Nova Senha:<p></label>
                <input type="password" placeholder="Senha" name="new_password1" class="form-control" id="id_new_password1"> 
                {{ form.new_password1.errors }}
                
                <label class="form-label" for="id_new_password2"><p>Confirmação de senha:<p></label>
                <input type="password" placeholder="Confirmar Senha" name="new_password2" class="form-control" id="id_new_password2"> 
                {{ form.new_password2.errors }}
            <br>

            <button type="submit"  class="btn" >Alterar Senha</button>
            
        </form>
        {% else %}
        <h1>Falha na redefinição de senha</h1>
        <p>O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>
        {% endif %}
    </div>

</section>

{% endblock main %}
 



