{% extends "bases/base-initial.html" %}

{% load static %}

{% block title %}
    Reset Form
{% endblock title %}

{% block main %} 
<sectiond class="area-login">
    <div class="login">
        <h1>Resetar Senha</h1>  
            <form method="post" class="form_login" > {% csrf_token %}
                <label  for="id_email"><p> Email para recuperação de senha </p></label>
                <input  placeholder="Email" type="email" name="email"  id="id_email">
                <br>
            <button class="btn" type="submit">Enviar</button>
            <br>
            <a href="/login">RETURN</a>          
        </form>     
    </div>
</section>
{% endblock main %}
