@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: "Poppins", sans-serif; 
  
}

body{
    background-color: #1b1f27;
    font: "Poppins", sans-serif; 
    overflow: hidden;
}

h1{
    /* font-size: 30px; */
    font-weight: bold;
    /* text-transform: uppercase; */
    color: white;
    

  }

  h2{
    color: white;
  }

ul li::marker{
    color: #eee;
    font-size: larger;
}

.errorlist{
    color: red;
}

.helptext text{
    color: #eee;
    font-size: larger;
}

.menu{
    display: flex ;

}

.area-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    width: 360px;
    height: auto;  
    padding: 10px;  /*espacamento interno*/
    border-radius: 10px;
    box-shadow: 0 0 5px whitesmoke;
}

.login:hover{
    box-shadow: 0 0 10px whitesmoke;

}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    width: 355px;
    height: 350px;  
    padding: 35px;  /*espacamento interno*/
    border-radius: 10px;
}

.login form{
    display: flex;
    flex-direction: column;
    width: 100%
}

.login input{
    margin-top: 10px; /**/  /**/ /**/
    background-color: #252a34 ;
    color: #cbd0f7;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 6px;
    padding-left: 10px;
    width: 340px

}

.login input:hover{
    /* background-color: #808a9c ; */

}

/* .login input:last-child{
    margin-top: 30px;

} */

.login img{
    width: 100px;  /*largura*/
    height: auto; /*autura*/
}

input::placeholder{
    color: #cbd0f7;
    font-size: 16px;
    
}

input:hover{
    box-shadow: 0 0 5px whitesmoke;
    background-color: #252a34;
    
}

input:hover:last-child{
    box-shadow: 0 0 5px whitesmoke;
    background-color: #252a34;
   

}

form [type="submit"]{
    display: block;
    background-color: #ffad33;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight:  800px;
    color: #eee;
    width: 340px; 
}

form [type="submit"]:hover{
    background-color: #f59f1f;
    color: white
}

.form-control{
    width: 100%;
}

p{
    color: #cbd0f7;
    margin-top: 10px;
}

a{
    color:#eee;
    text-decoration: none;
    margin-left: 10px;
}

a:hover{
    color:#ffad33 !important;
    transition: 0.3s;

}

#feedback_erros {
    display: none;
}


input + span {
    position: relative;
  }

input + span::before {
    position: absolute;
    right: -20px;
    top: 5px;
}

input.field-is-invalid {
    border: 2px solid red;
}

input.field-is-invalid + span::before {
    content: "✖";
    color: red;
}

input.field-is-valid + span::before {
    content: "✓";
    color: green;
}





